// Body
// $body-bg: #f8fafc;
// $body-bg: #eaf1fb;
$body-bg: #f6f8fc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.5;
$table-bg: transparent;

